<div class="video_module">
  <div class="overlay_container">
    <div class="wrapper">
      <h2>Structured Learning</h2>
      <h2>In-person Instructors</h2>
      <h2>10 Weeks Part Time</h2>
    </div>
  </div>
  <div class="video_container">
    <video autoplay="autoplay" loop="true" muted="muted" poster="">
        <source src="assets/coffee.mp4" type="video/mp4">
        <source src="assets/coffee.webm" type="video/webm">
    </video>
  </div>
</div>
<div id="apply">
  <a class="btns hero_btn" href="requests/new">Request Info</a>
  <a class="btns hero_btn highlight" href="apps/new">Apply Now</a>
</div>

<div class="testimonials">
  <h3>What our <wbr>students are saying</h3>
  <div class="tst_module">
    <div class="tst_img lkaiser">
    </div>
    <strong>Lily Kaiser</strong>
    <p>It takes more than a good coder to teach rails. Jon is a good coder and a good teacher. <!-- He has a deep knowledge of ruby and rails, fielded questions easily and quickly whether they came up inside of class or out, and used clear examples to simplify tough topics.  -->He took a group of students with a range of CS experience and made the class accessible to beginners like me and interesting to full-time developers. Thanks to Jon, learning rails was fun and interesting, and never (too) scary. </p>
  </div>
  <div class="tst_module">
    <div class="tst_img ebenoit">
    </div>
    <strong>Eric Benoit</strong>
    <p>Jon was a great teacher for Ruby on Rails. He taught the concepts behind the code so you could truly understand how it works. Jon would help guide you to the 'aha' moment instead of directly giving you the answer to what you're currently stuck on. That was an important part of learning for me.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img scummins">
    </div>
    <strong>Shayna Cummins</strong>
    <p>I came into the course as a complete novice and was immediately hooked on Ruby. Jon is an excellent instructor: smart, friendly, and very patient. He's extremely well-spoken and able to easily break down challenging concepts into terms anyone can understand. He is totally plugged into the Ruby community and has worked on some very cool projects across the stack. I learned a ton from Jon and would highly recommend him to anyone!</p>
  </div>
  <div class="tst_module">
    <div class="tst_img dmarkowitz">
    </div>
    <strong>David Markowitz</strong>
    <p>Jon clearly understands development and has an ability to pass that understanding on to students. He helped in class while students had questions and also made himself readily available after-hours to anyone who needed more assistance. A strong developer himself, Jon helped us flesh out our own [projects] and bring them to life. His development skills and ability to simply explain code make him a strong instructor.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img bmckellick">
    </div>
    <strong>Ben Mckellick</strong>
    <p>Jon is an extremely approachable instructor who is highly knowledgeable on the subject matter. He can always help and will get you where you need to be.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <strong>Evan B</strong>
    <p>I took a back end web development course with Jon, and he's just what you'd want in an instructor - knowledgable, patient, teaches by example. I went from no foundation in Rails at all to being able to build pretty complex apps in not much more than a few weeks.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img aperez">
    </div>
    <strong>Alicia Perez</strong>
    <p>I learned a ton in our class. Jon was super attentive and always replied my questions in a very modest way.</p>
  </div>
</div>
<div id="instructor" class="instructor cf">
  <h2 class="module_title">Your Instructor</h2>
  <div class="inst_img_wrapper">
    <div class="inst_img"> 
    </div>
  </div>
  <h3 class="inst_name">Jonathan Cheng</h3>
  <div class="inst_txt">
    Jon is a freelance developer and has taught General Assembly Boston's Back End Web Development course since it's inception. He has also taught for Harvard Business School, Railsbridge Boston, CodeMentor, and GA's Front End Web Development course. He enjoys sci-fi novels, rock climbing, and brazilian jiu jitsu.
  </div>
</div>
<div id="course" class="schedule">
  <h2>What's Covered</h2>
  <h3 class="unit_header">Unit 1: Ruby</h3>
  <h4>Setting Up Your Computer</h4>
  <p>We'll go over installing all the tools you'll need to program with Ruby on Rails and make sure your computer is ready to program.</p>
  <h4>Web Development Overview and Tools</h4>
  <p>A high level overview of how the web works as well as an introduction to the tools we installed previously</p>
  <h4>Ruby Basics</h4>
  <p>An introduction to basic programming concepts. We'll cover variables, conditionals, loops, and arrays</p>
  <h4>Ruby Advanced Topics</h4>
  <p>We'll move on to more advanced programming concepts including classes and objects</p>
  <h4>Ruby Programming Review</h4>
  <p>Review of ruby material and heavy lab work to solidify skills</p>
  <h3 class="unit_header">Unit 2: Ruby on Rails</h3>
  <h4>Intro to MVC</h4>
  <p>An introduction to Ruby on Rails and the Model View Controller paradigm</p>
  <h4>Models: Working With Databases</h4>
  <p>We'll take a look at how data is stored in a Rails application and how to access that data using Rails commands</p>
  <h4>Routing: Mapping Your Site</h4>
  <p>Here we'll examine what happens inside our application when a user interacts it</p>
  <h4>Views: Creating HTML Templates</h4>
  <p>We'll see how Rails uses flexible templating and some special tricks to make customized HTML pages</p>
  <h4>Gems: Using Rails Addons</h4>
  <p>The Rails community is full of gems (addons) you can drop right into your project to add new features. We'll show you how to install and use them</p>
  <h4>Deploying Your Site</h4>
  <p>A step by step on how to take what you've been working on and finally put it on the internet!</p>
  <h4>Using APIs</h4> 
  <p>We'll show you how to integrate with other websites like Reddit, Twitter, Facebook, and more to do things like get access to their data, authenticate users, take payments, and more.</p>
  <h4>Final Project Presentations</h4> 
  <p>Present your final projects to the class. Congrats, you made it!</p>
</div>

<div class="final cf">
  <div id="price" class="col2">
    <h2>Upcoming Classes</h2> 
    <div>
      <strong>April 22 - June 29</strong>
    </div>
    <div>
      <strong>Mon Wed,  6:30 - 9:30</strong>
    </div>
    <div>
      <strong>$3000</strong> USD
    </div>
  </div>

  <div id="apply" class="col2">
    <h2>Ready to Learn?</h2>
    <a class="btns" href="requests/new">Request Info</a>
    <a class="btns highlight" href="apps/new">Apply Now</a>
  </div>
</div>