<div class="video_module">
  <div class="overlay_container">
    <div class="wrapper">
      <h2>Structured Learning</h2>
      <h2>In-person Instructors</h2>
      <h2>10 Weeks Part Time</h2>
    </div>
  </div>
  <div class="video_container">
    <video autoplay="autoplay" loop="true" muted="muted" poster="">
        <source src="assets/coffee.mp4" type="video/mp4">
        <source src="assets/coffee.webm" type="video/webm">
    </video>
  </div>
</div>
<div class="cta">
  <h3>Learning web development can be hard</h3>
  <p>For some people it can come naturally, but for most of us it's not easy to know where to start. <br>What technologies should I use? How do I install everything? Where do I go for help?</p>

  <h4>Not everyone can join a full time boot camp and spend upwards of $12,000 to learn <br><strong class="highlight">That's where we come in</strong></h4>

  <h3>
    <div class="lato">
      <span class="highlight">Rails</span>ClassBoston
    </div>
      <div class="created_by">Created by bootcamp instructors who wanted to do it right</div>
   </h3>
  <ul>
    <li>A structured curriculum covering all the essentials</li>
    <li>An experienced teacher, not just an experienced developer</li>
    <li>Smallest class size anywhere</li>
    <li>Class times after work hours so you can come after work</li>
    <li>Guidance on your own personal project</li>
  </ul>

</div>
<div id="apply">
  <a class="btns hero_btn" href="requests/new">Request Info</a>
  <a class="btns hero_btn apply" href="apps/new">Apply Now</a>
</div>

<div id="testimonials">
  <h3>What our <wbr>students are saying</h3>
  <div class="tst_module">
    <div class="tst_img lkaiser">
    </div>
    <strong>Lily Kaiser</strong>
    <p>It takes more than a good coder to teach rails. Jon is a good coder and a good teacher. <!-- He has a deep knowledge of ruby and rails, fielded questions easily and quickly whether they came up inside of class or out, and used clear examples to simplify tough topics.  -->He took a group of students with a range of CS experience and made the class accessible to beginners like me and interesting to full-time developers. Thanks to Jon, learning rails was fun and interesting, and never (too) scary. </p>
  </div>
  <div class="tst_module">
    <div class="tst_img ebenoit">
    </div>
    <strong>Eric Benoit</strong>
    <p>Jon was a great teacher for Ruby on Rails. He taught the concepts behind the code so you could truly understand how it works. Jon would help guide you to the 'aha' moment instead of directly giving you the answer to what you're currently stuck on. That was an important part of learning for me.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img scummins">
    </div>
    <strong>Shayna Cummins</strong>
    <p>I came into the course as a complete novice and was immediately hooked on Ruby. Jon is an excellent instructor: smart, friendly, and very patient. He's extremely well-spoken and able to easily break down challenging concepts into terms anyone can understand. He is totally plugged into the Ruby community and has worked on some very cool projects across the stack. I learned a ton from Jon and would highly recommend him to anyone!</p>
  </div>
  <div class="tst_module">
    <div class="tst_img dmarkowitz">
    </div>
    <strong>David Markowitz</strong>
    <p>Jon clearly understands development and has an ability to pass that understanding on to students. He helped in class while students had questions and also made himself readily available after-hours to anyone who needed more assistance. A strong developer himself, Jon helped us flesh out our own [projects] and bring them to life. His development skills and ability to simply explain code make him a strong instructor.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img bmckellick">
    </div>
    <strong>Ben Mckellick</strong>
    <p>Jon is an extremely approachable instructor who is highly knowledgeable on the subject matter. He can always help and will get you where you need to be.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <strong>Evan B</strong>
    <p>I took a back end web development course with Jon, and he's just what you'd want in an instructor - knowledgable, patient, teaches by example. I went from no foundation in Rails at all to being able to build pretty complex apps in not much more than a few weeks.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img aperez">
    </div>
    <strong>Alicia Perez</strong>
    <p>I learned a ton in our class. Jon was super attentive and always replied my questions in a very modest way.</p>
  </div>
</div>
<div id="instructor" class="instructor cf">
  <h2 class="module_title">Your Instructor</h2>
  <div class="inst_img_wrapper">
    <div class="inst_img"> 
    </div>
  </div>
  <h3 class="inst_name">Jonathan Cheng</h3>
  <div class="inst_txt">
    Jon teaches both General Assembly Boston's Back End Web Development course and Front End Web Development course. He has also taught for Harvard Business School, Railsbridge Boston, and CodeMentor. He enjoys sci-fi novels, rock climbing, and brazilian jiu jitsu.
  </div>
</div>
<div class="final cf">
  <div id="price" class="col2">
    <h2>Upcoming Classes</h2>
    <div>
      <strong>Boston, MA</strong><br>
      April 22 - June 29 <br>
      Mon Wed,  6:30 - 9:30pm <br>
      $3000 USD <br>
    </div>
  </div>

  <div id="apply" class="col2">
    <h2>Ready to Learn?</h2>
    <a class="btns hero_btn" href="requests/new">Request Info</a>
    <a class="btns hero_btn apply" href="apps/new">Apply Now</a>
  </div>
</div>