
<h1>Learn <wbr>Ruby on Rails</h1>

<div class="container">
  <div class="wrapper">
    <h2>10 weeks online</h2>
    <h2>Live experienced instructors</h2>
    <h2>From the comfort of your home</h2>
  </div>
</div>
<div class="video_container">
  <video autoplay="autoplay" loop="true" muted="muted" poster="">
      <source src="assets/coffee.mp4" type="video/mp4">
      <source src="assets/coffee.webm" type="video/webm">
  </video>
</div>


<input type="submit" value="Request Info">
<input type="submit" value="Apply Now">
