<div class="container">
  <div class="wrapper">
    <h2>10 weeks part-time</h2>
    <h2>Experienced instructors</h2>
    <h2>Learn from anywhere</h2>
  </div>
</div>
<div class="video_container">
  <video autoplay="autoplay" loop="true" muted="muted" poster="">
      <source src="assets/coffee.mp4" type="video/mp4">
      <source src="assets/coffee.webm" type="video/webm">
  </video>
</div>

<div class="hero_btn">
  <a class="btns" href="requests/new">Request Info</a>
  <a class="btns highlight" href="apps/new">Apply Now</a>
</div>

<div class="testimonials">
  <h3>What our <wbr>students are saying</h3>
  <div class="tst_module">
    <div class="tst_img ebenoit">
    </div>
    <strong>Eric Benoit</strong>
    <p>Jon was a great teacher for Ruby on Rails. He taught the concepts behind the code so you could truly understand how it works. Jon would help guide you to the 'aha' moment instead of directly giving you the answer to what you're currently stuck on. That was an important part of learning for me.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img bmckellick">
    </div>
    <strong>Ben Mckellick</strong>
    <p>Jon is an extremely approachable instructor who is highly knowledgeable on the subject matter. He can always help and will get you where you need to be.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <strong>Evan B</strong>
    <p>I took a back end web development course with Jon, and he's just what you'd want in an instructor - knowledgable, patient, teaches by example. I went from no foundation in Rails at all to being able to build pretty complex apps in not much more than a few weeks.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <strong>Some person</strong>
    <p>RailsClass made me a millionaire! Thanks RailsClass!</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <strong>Some person</strong>
    <p>RailsClass made me a millionaire! Thanks RailsClass!</p>
  </div>
</div>
