<div class="video_module">
  <div class="overlay_container">
    <div class="wrapper">
      <h2>
        The World's First <br>Flipped Classroom Hybrid <br> 
        Ruby on Rails Course
      </h2> 
    </div>
  </div>
  <div class="video_container">
    <video autoplay="autoplay" loop="true" muted="muted" poster="<%= asset_path "coffee14.jpg" %>">
        <source src="<%= asset_path 'coffee.webm' %>" type="video/webm">
        <source src="<%= asset_path 'coffee.mp4' %>" type="video/mp4">
    </video>
    <%= image_tag "coffee14.jpg", class: "placeholder" %>
  </div>
</div>
<div class="cta">
  <h3>An evening course designed for flexiblity and powerful learning</h3>
  <p>Whether you're a complete beginner with zero industry experience, or an experienced developer in other languages, RailsClass is designed for people with busy schedules and a desire to better themselves through code.</p>

  <h3 style="padding: 0 20px; margin-bottom: 60px">
    <span class="lato">
      <span class="highlight">Rails</span>Class
    </span>
      <span class="created_by">believes in a collaborative, flipped classroom experience</span>
  </h3>
  <div class="section clearfix">
    <ul>
      <h4 class="highlight">
        Here's how it works
      </h4>
      <li>Learn core concepts whenever you want, wherever you want with online video lectures</li>
      <li>Collaborate in class twice a week with other students in small groups to solidify concepts</li>
      <li>Receive personalized guidance from an experienced instructor with years of teaching experience</li>
      <li>Create your own final project based on in-class concepts and your own personal exploration</li>
    </ul>
    <div class="student_img_wrapper">
    </div>
  </div>
</div>

<div class="price">
  <h2 class="open_sans">Insane Value</h2>
  <ul>
    <li>8 weeks of instruction</li>
    <li>15 hours of video lectures</li>
    <li>25 hours of instructor led class time</li>
  </ul>
  <h3 class="open_sans">
    $25<sub>/hr</sub> = $999
  </h3> 

</div>
<% if false %>
<div id="testimonials">
  <h3>What our <wbr>students are saying</h3>
  <div class="tst_module">
    <div class="tst_img lkaiser">
    </div>
    <strong>Lily Kaiser</strong>
    <p>It takes more than a good coder to teach rails. Jon is a good coder and a good teacher. <!-- He has a deep knowledge of ruby and rails, fielded questions easily and quickly whether they came up inside of class or out, and used clear examples to simplify tough topics.  -->He took a group of students with a range of CS experience and made the class accessible to beginners like me and interesting to full-time developers. Thanks to Jon, learning rails was fun and interesting, and never (too) scary. </p>
  </div>
  <div class="tst_module">
    <div class="tst_img ebenoit">
    </div>
    <strong>Eric Benoit</strong>
    <p>Jon was a great teacher for Ruby on Rails. <!-- He taught the concepts behind the code so you could truly understand how it works. --> Jon would help guide you to the 'aha' moment instead of directly giving you the answer to what you're currently stuck on. That was an important part of learning for me.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img scummins">
    </div>
    <strong>Shayna Cummins</strong>
    <p>I came into the course as a complete novice and was immediately hooked on Ruby. Jon is an excellent instructor: smart, friendly, and very patient. He's extremely well-spoken and able to easily break down challenging concepts into terms anyone can understand. He is totally plugged into the Ruby community and has worked on some very cool projects across the stack. I learned a ton from Jon and would highly recommend him to anyone!</p>
  </div>
  <div class="mobile_hide">
    <div class="tst_module">
      <div class="tst_img dmarkowitz">
      </div>
      <strong>David Markowitz</strong>
      <p>Jon clearly understands development and has an ability to pass that understanding on to students. He helped in class while students had questions and also made himself readily available after-hours to anyone who needed more assistance. A strong developer himself, Jon helped us flesh out our own [projects] and bring them to life. His development skills and ability to simply explain code make him a strong instructor.</p>
    </div>
    <div class="tst_module">
      <div class="tst_img bmckellick">
      </div>
      <strong>Ben Mckellick</strong>
      <p>Jon is an extremely approachable instructor who is highly knowledgeable on the subject matter. He can always help and will get you where you need to be.</p>
    </div>
    <div class="tst_module">
      <div class="tst_img">
      </div>
      <strong>Evan B</strong>
      <p>I took a back end web development course with Jon, and he's just what you'd want in an instructor - knowledgable, patient, teaches by example. I went from no foundation in Rails at all to being able to build pretty complex apps in not much more than a few weeks.</p>
    </div>
    <div class="tst_module">
      <div class="tst_img aperez">
      </div>
      <strong>Alicia Perez</strong>
      <p>I learned a ton in our class. Jon was super attentive and always replied my questions in a very modest way.</p>
    </div>
  </div>
</div>
<% end %>
<div id="instructor" class="instructor cf">
  <h2 class="module_title">Your Instructor</h2>
  <div class="inst_img_wrapper">
    <div class="inst_img">
    </div>
  </div>
  <h3 class="inst_name">Jonathan Cheng</h3>
  <div class="inst_txt">
    Jon teaches both <strong>General Assembly Boston's</strong> Back End Web Development course and Front End Web Development course. He has also taught for Harvard Business School, Railsbridge Boston, and CodeMentor. He enjoys sci-fi novels, rock climbing, and Brazilian jiu jitsu.
  </div>
</div>

<div class="final cf">
  <div id="price" class="col2">
    <h2>Upcoming Classes</h2>
    <div>
      <strong>Cambridge, MA</strong><br>
      September <br>
      Mon & Wed <br>
      6:30pm to 8pm<br>
    </div>
  </div>

  <div id="apply" class="col2">
    <h2>Ready to Learn?</h2>
    <a class="btns hero_btn" href="requests/new">Get Syllabus</a>
    <a class="btns hero_btn apply" href="apps/new">Apply Now</a>
  </div>
</div>