
<h1>
  <span id="drawing"></span>
  <script>
    var draw = SVG('drawing').fixSubPixelOffset().size(55, 80)

    var hex = draw.polygon().ngon({
               radius: 25 
             , edges:    6
             }).move(5, 20).fill({ opacity: 0 }).stroke({ color: 'rgb(99, 236, 167)', opacity: 0, width: 8 })
    var rail = draw.rect(10, 40).move(25, 0).rotate(-50).skew(-50, 0).fill({ color: 'gray' })

    var rail2 = draw.rect(10, 40).move(47, 0).rotate(-50).skew(-50, 0).fill({ color: 'gray' })

    var drop, raise;
    drop = function() {
        setTimeout(function() {
          hex.animate(500, SVG.easing.backout).move(5, 20).stroke({ opacity: 0 }).after(raise)
        }, 5000)
      }
    raise = function() {
      setTimeout(function() {
        hex.animate(1000, SVG.easing.bounce).move(5, 10).stroke({ opacity: 1 }).after(drop)
      }, 500);
    }
    raise();

  </script>
  <span class="logo">
    <span class="highlight">Rails</span>Class
  </span>
</h1>

<div class="container">
  <div class="wrapper">
    <h2>10 weeks part-time</h2>
    <h2>Live experienced instructors</h2>
    <h2>Learn from anywhere</h2>
  </div>
</div>
<div class="video_container">
  <video autoplay="autoplay" loop="true" muted="muted" poster="">
      <source src="assets/coffee.mp4" type="video/mp4">
      <source src="assets/coffee.webm" type="video/webm">
  </video>
</div>


<input class="btns" type="submit" value="Request Info">
<input class="btns highlight" type="submit" value="Apply Now">

<div class="testimonials">
  <h3>What our <wbr>students are saying</h3>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <span>Some person</span>
    <p>Rails guy made me a millionaire! Thanks rails guy!</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <span>Some person</span>
    <p>Rails guy made me a millionaire! Thanks rails guy!</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <span>Some person</span>
    <p>Rails guy made me a millionaire! Thanks rails guy!</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <span>Some person</span>
    <p>Rails guy made me a millionaire! Thanks rails guy!</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <span>Some person</span>
    <p>Rails guy made me a millionaire! Thanks rails guy!</p>
  </div>
</div>