<div class="overlay_container">
  <div class="wrapper">
    <h2>10 weeks part-time</h2>
    <h2>Experienced instructors</h2>
    <h2>Ruby on Rails development</h2>
  </div>
</div>
<div class="video_container">
  <video autoplay="autoplay" loop="true" muted="muted" poster="">
      <source src="assets/coffee.mp4" type="video/mp4">
      <source src="assets/coffee.webm" type="video/webm">
  </video>
</div>

<div>
  <a class="btns hero_btn" href="requests/new">Request Info</a>
  <a class="btns hero_btn highlight" href="apps/new">Apply Now</a>
</div>

<div class="testimonials">
  <h3>What our <wbr>students are saying</h3>
  <div class="tst_module">
    <div class="tst_img lkaiser">
    </div>
    <strong>Lily Kaiser</strong>
    <p>It takes more than a good coder to teach rails. Jon is a good coder and a good teacher. <!-- He has a deep knowledge of ruby and rails, fielded questions easily and quickly whether they came up inside of class or out, and used clear examples to simplify tough topics.  -->He took a group of students with a range of CS experience and made the class accessible to beginners like me and interesting to full-time developers. Thanks to Jon, learning rails was fun and interesting, and never (too) scary. </p>
  </div>
  <div class="tst_module">
    <div class="tst_img ebenoit">
    </div>
    <strong>Eric Benoit</strong>
    <p>Jon was a great teacher for Ruby on Rails. He taught the concepts behind the code so you could truly understand how it works. Jon would help guide you to the 'aha' moment instead of directly giving you the answer to what you're currently stuck on. That was an important part of learning for me.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img scummins">
    </div>
    <strong>Shayna Cummins</strong>
    <p>I came into the course as a complete novice and was immediately hooked on Ruby. Jon is an excellent instructor: smart, friendly, and very patient. He's extremely well-spoken and able to easily break down challenging concepts into terms anyone can understand. He is totally plugged into the Ruby community and has worked on some very cool projects across the stack. I learned a ton from Jon and would highly recommend him to anyone!</p>
  </div>
  <div class="tst_module">
    <div class="tst_img bmckellick">
    </div>
    <strong>Ben Mckellick</strong>
    <p>Jon is an extremely approachable instructor who is highly knowledgeable on the subject matter. He can always help and will get you where you need to be.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img">
    </div>
    <strong>Evan B</strong>
    <p>I took a back end web development course with Jon, and he's just what you'd want in an instructor - knowledgable, patient, teaches by example. I went from no foundation in Rails at all to being able to build pretty complex apps in not much more than a few weeks.</p>
  </div>
  <div class="tst_module">
    <div class="tst_img aperez">
    </div>
    <strong>Alicia Perez</strong>
    <p>I learned a ton in our class. Jon was super attentive and always replied my questions in a very modest way.</p>
  </div>
</div>
<%= javascript_include_tag "scroll" %>