<div class="schedule">
<h2>Prework</h2>
<ul>
  <li>
    <strong>Note:</strong> This must be completed before the first class session.
  </li>
  <li><a href="https://www.google.com/intl/en/chrome/browser/desktop/index.html#brand=CHMB&utm_campaign=en&utm_source=en-ha-na-us-sk&utm_medium=ha">Install Chrome</a></li>
  <li><a href="http://www.sublimetext.com/">Install Sublime Text.</a> This will be our primary text editor for the class.</li>
  <li>Sign up for a <a href="http://github.com">github</a> account.</li>
  <li>Install the GitHub app for <a href="https://mac.github.com/">mac</a> or <a href="https://windows.github.com/">windows</a></li>
  <li>Take a stab at this quick 1 hour <a href="http://www.codecademy.com/learn/learn-the-command-line">command line tutorial</a>
  </li>
  <li>If you're new to html and css or need a refresher, head over to <a href="http://www.codecademy.com/tracks/web">Codecademy's Html/CSS course</a> and complete the course.</li>
  <li>
    Download what you'll need for the Installfest below (no need to install it on your own):
    <ul>
      <li>
        <strong>Windows:</strong> Download the ruby 2.1 package from <a href="http://railsinstaller.org/en">railsinstaller</a>
      </li>
      <li>
        <strong>Mac:</strong> Make sure you have an apple ID (you should already have one).
        <a href="https://developer.apple.com/downloads/index.action">Install Command Line Tools</a>
        Search for "Command Line Tools" and select the version appropriate for your operating system.
        Install the command line tools from the downloaded file.
      </li>
      <li><strong>Linux:</strong> you're all set!</li>
    </ul>
  </li>
</ul>
</div>