<h1>Syllabus</h1>

<div id="course" class="schedule">
  <h2>What's Covered</h2>
  <h3 class="unit_header">Unit 1: Ruby</h3>
  <h4>Setting Up Your Computer</h4>
  <p>We'll go over installing all the tools you'll need to program with Ruby on Rails and make sure your computer is ready to program.</p>
  <h4>Web Development Overview and Tools</h4>
  <p>A high level overview of how the web works as well as an introduction to the tools we installed previously</p>
  <h4>Ruby Basics</h4>
  <p>An introduction to basic programming concepts. We'll cover variables, conditionals, loops, and arrays</p>
  <h4>Ruby Advanced Topics</h4>
  <p>We'll move on to more advanced programming concepts including classes and objects</p>
  <h4>Ruby Programming Review</h4>
  <p>Review of ruby material and heavy lab work to solidify skills</p>
  <h3 class="unit_header">Unit 2: Ruby on Rails</h3>
  <h4>Intro to MVC</h4>
  <p>An introduction to Ruby on Rails and the Model View Controller paradigm</p>
  <h4>Models: Working With Databases</h4>
  <p>We'll take a look at how data is stored in a Rails application and how to access that data using Rails commands</p>
  <h4>Routing: Mapping Your Site</h4>
  <p>Here we'll examine what happens inside our application when a user interacts it</p>
  <h4>Views: Creating HTML Templates</h4>
  <p>We'll see how Rails uses flexible templating and some special tricks to make customized HTML pages</p>
  <h4>Gems: Using Rails Addons</h4>
  <p>The Rails community is full of gems (addons) you can drop right into your project to add new features. We'll show you how to install and use them</p>
  <h4>Deploying Your Site</h4>
  <p>A step by step on how to take what you've been working on and finally put it on the internet!</p>
  <h4>Using APIs</h4> 
  <p>We'll show you how to integrate with other websites like Reddit, Twitter, Facebook, and more to do things like get access to their data, authenticate users, take payments, and more.</p>
  <h4>Final Project Presentations</h4> 
  <p>Present your final projects to the class. Congrats, you made it!</p>
</div>